export ACCUWEATHER_API_KEY=SpJ1zN0OJu0ye1sDUvTWfHZbmYQAtXdT
export AWS_ACCESS_KEY_ID=AKIAWEP4XBTGVV6GPFHS
export AWS_SECRET_ACCESS_KEY=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
export BIGPANDA_APP_KEY=08631da1a7526a25698e7e9d93b8f364
export BIGPANDA_ID=api.accuweather
export BIGPANDA_ALERTS_API_BEARER_TOKEN=049ca3e5de811d240aa19dbcbd8888d0