export ACCUWEATHER_API_KEY=VStA72HGBeQ5xfjmGUtTM6K8NmVzGCPV
export AWS_ACCESS_KEY_ID=AKIAWEP4XBTG33ONCF6R
export AWS_SECRET_ACCESS_KEY=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
export BIGPANDA_APP_KEY=840e5934c9fa2f9bb71b6c1ce7b71192
export BIGPANDA_ID=api.accuweather