export ACCUWEATHER_API_KEY=SpJ1zN0OJu0ye1sDUvTWfHZbmYQAtXdT
export AWS_ACCESS_KEY_ID=AKIAWEP4XBTGVV6GPFHS
export AWS_SECRET_ACCESS_KEY=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
export BIGPANDA_APP_KEY=a9e0f13fab5896059994bbb98ff74838
export BIGPANDA_ID=api.accuweather3
export BIGPANDA_ALERTS_API_BEARER_TOKEN=95fbf41e1d3cd17dfd70ae89c07dc8c1